.discuss__block{
    width: 1440px;
    max-height: 350px;
    background-color: #2D66EE;
    background-image: url("../assets/img/Noise.png");
    display: flex;
}
.discuss-container{
    width: 1224px;
    margin: 80px 108px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 32px;
    column-gap: 240px;
}
.discuss-content-info{
    max-width: 600px;
}
.discuss-content-info > h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #F2F4F7;
}
.discuss-content-info > p{
    margin-top: 24px;
    font-size: 15px;
    line-height: 20px;
    color: #F2F4F7;
}
.discuss-content-form{
    max-width: 552px;
    background-color: #F2F4F7;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 24px;
}
.content-form-element{
    min-width: 264px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px 0;
}
.content-form-element label{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
}
.content-form-element input{
    padding: 8px 0 ;
    border: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #101828;
}
.discuss-content-form button{
    padding: 11px 24px;
    background: #2D66EE;
    border-radius: 8px;
    color: #F2F4F7;
    border: none;
    cursor: pointer;
    font-weight: 600;
    margin: 24px 0 0 auto;
    width: 178px;
    height: 40px;
}
.content-form-element__icon{
    position: relative;
}
.content-form-element__icon input{
    width: 200px;
    margin-left: 24px;
}
.content-form_logo-img{
    height: 20px;
    width: 16px;
    position: absolute;
    top: 36px;
}
@media screen and (max-width: 1439px) {
    .discuss__block{
        width: 768px;
        max-height: 600px;
    }
    .discuss-container{
        margin: 22px 38px;
    }
    .discuss-content-info > h2{
        font-size: 28px;
        width: 195px;
    }
    .discuss-content-info > p{
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        width: 330px;
        height: 40px;
        font-family: sans-serif;
    }
}
@media screen and (max-width: 767px) {
    .discuss__block{
        width: 425px;
        max-height: 800px;
        margin-top:60px ;
    }
    .discuss-container{
        margin: 34px 16px;
        row-gap: 128px;
    }
    .discuss-content-info p{
        width: 344px;
        font-size: 14px;
    }
    .discuss-content-form button{
        margin-left: 45px;
        margin-top: 28px;
        width: 255px;
        height: 40px;
    }
}