@import "reset.css";
@import "fonts.css";

.container {
    max-width: 1224px;
    width: 100%;
    margin: 0 auto ;
}
body{
    font-family:'Inter', sans-serif;
}
.hidden{
    display: none;
}
.baner{
    background: #F2F4F7;
    display: flex;
    flex-direction: column;
    min-height: 900px;
    position: relative;
    background-image: url('../assets/img/main-banner.png');
    background-repeat: no-repeat;
    background-position: right -275px center;
}
.footer{
    background: #F2F4F7;
    display: flex;
    flex-direction: column;
    min-height: 221px;
    position: relative;
}
.header{
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    width: 1124px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    margin-top: 24px;
    align-items: center;
    position: fixed;
}
.header__burger{
    display: none;
}
.header__logo{
    width: 120px;
    height: 24px;
}
.header__logo-img{
    width: 100%;
    height: 100%;
}
.header__nav{
    display: flex;
}
.header__contacts{
    display: flex;
}
.header__nav-item{
    margin-right: 24px;
    display: flex;
    align-items: center;
}
.header__nav-item:last-of-type{
    margin-right: 0;
}
.header__nav-item a{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #101828;
    text-decoration: none;
}
.header__phone{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
    display: flex;
    align-items: center;
    margin-left: 13px;
}
.header__phone a{
    text-decoration: none;
}
.header__phone_logo{
    top: 2px;
    position: relative;
}

.header__emial{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #2D66EE;
    display: flex;
    align-items: center;
    margin-left: 64px;
    position: relative;
}
.header__emial a {
    text-decoration: none;
}
.header__message_logo{
    position: relative;
    top: 4px;
    left: 54px;
}
.banner-info{
    margin-top: 80px;
}
.banner-info__block{
    width: 600px;
}
.banner-info__title{
    margin-top: 80px;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
    margin-bottom: 24px;
}
.banner-info__title span{
    color: rgba(48, 111, 245, 1);
}
.banner-info__text{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-bottom: 64px;
}
.banner-info__form{
    width: 676px;
    padding: 24px;
    background: #FFFFFF;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}
.banner-info__h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
    margin-bottom: 32px;
    width: 525px;
}
.feedback-form{
    display: flex;
    justify-content: space-between;
}
.feedback-form__button{
    background: #2D66EE;
    border-radius: 8px;
    padding: 11px 24px;
    border: none;
    color: #FFFFFF;
    text-align: left;
    cursor: pointer;
    width: 132px;
}
.feedback-form__input label{
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
}
.feedback-form__input{
    display: flex;
    flex-direction: column;
    border-bottom:0.7px solid #D0D5DD;
}
.feedback-form__input input{
    width: 224px;
    padding: 8px 0 ;
    border: none;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #101828;
}
.feedback-form__input_icon{
    position: relative;
}
.feedback-form__input_icon input{
    width: 200px;
    margin-left: 24px;
}
.feedback-form_logo-img {
    height: 20px;
    width: 16px;
    position: absolute;
    top: 25px;
}

@media screen and (max-width: 1439px) {
    .container{
        max-width: 768px;
    }
    .baner{
        background-image: url('../assets/img/main-banner-rotate-tab.png');
        background-position: right -150px center;
        min-height: auto;
    }
    .header{
        position: fixed;
        max-width: 768px;
        width: 94%;
    }
    .banner-info__title{
        margin-top: 100px;
}

    .header__logo{
        width: 120px;
        height: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .header__nav{
        display: none;
    }
    .header__emial{
        margin-left: 30px;
    }
    .header__phone {
        display: none;
    }
    .header__phone_logo{
        display: none;
    }
    .header__burger{
        display: flex;
        width: 60px;
        height: 40px;
    }
    .header__burger-img{
        height: 100%;
        width: 100%;
    }
    .header__message_logo{
        display: flex;
        top: 0;
        left: 20px;
    }
    .banner-info{
        margin-top: 32px;
    }
    .banner-info__block{
        width: 383px;
        margin-bottom: 32px;
    }
    .banner-info__title{
        font-size: 28px;
    }
    .banner-info__form{
        width: 383px;
        padding: 32px;
        margin-bottom: 32px;
    }
    .banner-info__h4{
        width: auto;
        font-size: 16px;
    }
    .feedback-form{
       flex-direction:column ;
    }
    .feedback-form__input{
        width: fit-content;
        margin-bottom: 32px;
    }
    .feedback-form__button{
        width: 155px;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        padding: 11px 0;
    }
    .mobile-menu{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index:10;
        height: 100vh;
        overflow-y: scroll;
    }
    .mobile-menu__container{
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .mobile-menu__close{
        height: 24px;
        width: 24px;
        position: absolute;
        top: 54px;
        right: 106px;
    }
    .mobile-menu__logo{
        width: 289px;
        height: 48px;
        display: flex;
        justify-content: center;
        margin-top: 143px;
        margin-bottom: 52px;
    }
    .mobile-menu__logo img{
        width: 100%;
        height: 100%;
    }
    .mobile-menu__nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 55px;
    }
    .mobile-menu__nav-item{
        margin-bottom: 32px;
    }
    .mobile-menu__nav-item:last-of-type{
        margin-bottom: 0;
    }
    .mobile-menu__nav-item a {
        text-decoration: none;
        color: #101828;
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
    }
    .mobile-menu__phone_icon{
        margin-left: 28px;
        position: relative;
    }
    .mobile-menu__phone{
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.154px;
        color: #2D66EE;
        display: flex;
        align-items: center;
        margin-left: 13px;
    }
    .mobile-menu__contacts{
        display: flex;
        width: calc(100% - 30px);
        margin-left: 30px;
        justify-content: space-between;
    }
    .mobile-menu__phone a{
        text-decoration: none;
    }
    .mobile-menu__phone_icon:before{
        content: '';
        background-image: url("../assets/svg/phone.svg");
        width: 14%;
        height: 20px;
        position: absolute;
        top: 2px;
        left: -28px;
    }
}

@media screen and (max-width: 767px) {
    .baner{
        background-position: right -90px top 330px;
    }
    .container {
        width: 409px;
    }
    .header__emial{
        display: none;
    }
    .header__message_logo {
        display: none;
    }
    .header__logo{
        width: 114px;
        height: 18px;
    }
    .header__burger{
        width: 40px;
        width: 20px;
    }
    .banner-info__block{
        width: auto;
        padding: 0 16px;
        margin-bottom: 525px;
    }
    .banner-info__form{
        width: auto;
    }
}
